<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <button onclick="location='http://localhost:3000/employee'"> employee data</button>
    <button onclick="location='http://localhost:3000/customer'"> custumers data</button>
    <button onclick="location='http://localhost:3000/book'">book data</button>
    <button onclick="location='http://localhost:3000/bbook'">borrowed books data</button>
    <button onclick="location='http://localhost:3000/dep'">department data</button>
    <button onclick="location='http://localhost:3000/publisher'">publisher data</button>
  
</body>
</html>